# Basics

In [1]:
# Write a python comment saying 'Day 2: 30 Days of python programming'

# Day 2: 30 days of python programming

In [3]:
# Declare a first name variable and assign a value to it

first_name = "Parag"
first_name

'Parag'

In [4]:
# Declare a last name variable and assign a value to it

last_name = "Dorle"
last_name

'Dorle'

In [8]:
# Declare a full name variable and assign a value to it

full_name = first_name + last_name
full_name

'ParagDorle'

In [9]:
# Declare a country variable and assign a value to it

country = "India"
country

'India'

In [1]:
# Declare a city variable and assign a value to it

city_name = "Nagpur"
city_name

'Nagpur'

In [2]:
# Declare an age variable and assign a value to it

age = int(25)
age

25

In [3]:
# Declare a year variable and assign a value to it

year = int(2024)
year

2024

In [4]:
# 10. Declare a variable is_married and assign a value to it

is_married = True
is_married = False
is_married

False

In [6]:
# 11. Declare a variable is_true and assign a value to it

is_true = True
is_true = False

is_true

False

In [7]:
is_light_on = True
is_light_on = False

is_light_on

False

In [11]:
# 13. Declare multiple variable on one line

first_name, last_name, city, country, age = "Parag", "Dorle", "Nagpur", "India", 25

first_name, last_name, city, country, age

('Parag', 'Dorle', 'Nagpur', 'India', 25)

In [13]:
# 1. Check the data type of all your variables using type() built-in function

name = "Parag"
age = 25
is_working = False

print(type(name))
print(type(age))
print(type(is_working))

<class 'str'>
<class 'int'>
<class 'bool'>

In [14]:
# Using the _len()_ built-in function, find the length of your first name

len(first_name)

5

In [16]:
# 1. Compare the length of your first name and your last name

first_name = "Parag1"
last_name = "Dorle01"

comp = len(first_name) == len(last_name)
comp

False

In [2]:
"""1. Declare 5 as num_one and 4 as num_two
    1. Add num_one and num_two and assign the value to a variable total"""

num_one = 5
num_two = 4

sum = num_one + num_two
sum

9

In [3]:
# Subtract num_two from num_one and assign the value to a variable diff

sub = num_one - num_two
sub

1

In [4]:
# Multiply num_two and num_one and assign the value to a variable product

mul = num_one * num_two
mul

20

In [5]:
# Divide num_one by num_two and assign the value to a variable division

div = num_one / num_two
div

1.25

In [6]:
# Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

mod = num_one % num_two
mod

1

In [8]:
# Calculate num_one to the power of num_two and assign the value to a variable exp

pow = num_one ** num_two
pow

625

In [9]:
# Find floor division of num_one by num_two and assign the value to a variable floor_division

floor_div = num_one // num_two
floor_div

1

In [12]:
""" The radius of a circle is 30 meters.
    1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_ """

pi = 3.14
r = 30
area = pi*r**2
area

2826.0

In [13]:
# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_

pi = 3.14
r = 30
circum_of_circle = 2*pi*r
circum_of_circle

188.4

In [16]:
# Take radius as user input and calculate the area.

rad = int(input("Enter the Radius")) 
pi = 3.14
area = pi*rad**2
area

Enter the Radius 37

4298.66

In [21]:
# Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

first_name = input("Enter the First Name")
last_name = input("Enter the Last Name")
country = input("Enter the Country Name")
age = input("Enter the Age")
print(f"Hello, {first_name} {last_name} From {country}, My age is {age}.")

Enter the First Name Parag
Enter the Last Name Dorle
Enter the Country Name India
Enter the Age 25

Hello, Parag Dorle From India, My age is 25.

# Basics 02

In [2]:
# Declare your age as integer variable

age = int(25)
age

25

In [3]:
# Declare your height as a float variable

height = float(5.11)
height

5.11

In [4]:
# Declare a variable that store a complex number

com = complex(3+3j)
com

(3+3j)

In [11]:
# Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

base = int(input("Enter the Base : "))
height = int(input("Enter the Height : "))
area_of_triangle = 0.5*base*height

area_of_triangle

Enter the Base :  15
Enter the Height :  16

120.0

In [12]:
""" 5. Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).

Enter side a: 5
Enter side b: 4
Enter side c: 3
The perimeter of the triangle is 12 """

side_a = 5
side_b = 4
side_c = 3

perimeter_of_the_triangle = side_a + side_b + side_c

print("The perimeter of the triangle is : ", perimeter_of_the_triangle)

The perimeter of the triangle is :  12

In [16]:
# Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))

length = int(input("Enter the Length of Rectangle : "))
width = int(input("Enter the width of Rectangle : "))

area = length*width
perimeter = 2*(length+width)
print(f"Area of Recangle is {area} and Area of Perimeter is {perimeter}")

Enter the Length of Rectangle :  15
Enter the width of Rectangle :  16

Area of Recangle is 240 and Area of Perimeter is 62

In [18]:
# Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.

rad = int(input("Enter the Radius of Circle"))
pi = 3.14
area = pi*rad*rad
circum = 2*pi*rad

print(f"Area of Circle is : {area} And Circumference of Circle is {circum}")

Enter the Radius of Circle 15

Area of Circle is : 706.5 And Circumference of Circle is 94.2

In [22]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2

x1 = int(input("Enter X1 Value"))
x2 = int(input("Enter X2 Value"))
y1 = int(input("Enter Y1 Value"))
y2 = int(input("Enter Y2 Value"))

slope = (y2-y1)/(x2-x1)
print("slope is : ", slope)

Enter X1 Value 15
Enter X2 Value 14
Enter Y1 Value 13
Enter Y2 Value 18

slope is :  -5.0

In [23]:
# 10. Compare the slopes in tasks 8 and 9.

In [24]:
# Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.

In [28]:
# Find the length of 'python' and 'dragon' and make a falsy comparison statement.

a = len("python")
b = len("dragon")
c = a!=b
print(c)

False

In [30]:
# Use _and_ operator to check if 'on' is found in both 'python' and 'dragon'

w1 = "python"
w2 = "dragon"

is_in_both = "on" in w1 and "on" in w2

if is_in_both:
  print("'on' is found in both", w1, "and", w2)
else:
  print("'on' is not found in both", w1, "and", w2)

'on' is found in both python and dragon

In [31]:
# I hope this course is not full of jargon_. Use _in_ operator to check if _jargon_ is in the sentence.

sentence = "I hope this course is not full of jargon."

has_jargon = "jargon" in sentence.lower()

if has_jargon:
  print("The sentence contains the word 'jargon'.")
else:
  print("The sentence does not contain the word 'jargon'.")

The sentence contains the word 'jargon'.

In [34]:
# There is no 'on' in both dragon and python

wd1 = "dragon"
wd2 = "python"

is_in_both = "on" not in wd1 and "on" in wd2
if is_in_both:
    print("on is found in both", wd1, "and", wd2)
else:
    print("on is not found in both", wd1, "and", wd2)

on is not found in both dragon and python

In [40]:
# Find the length of the text _python_ and convert the value to float and convert it to string

text = "Python"

text_length = len(text)
text_length_float = float(text_length)
text_length_string = str(text_length_float)

print("Text is : ", text)
print("Length of Text : ", text_length)
print("Length of Float : ", text_length_float)
print("Length of String : ", text_length_string)

Text is :  Python
Length of Text :  6
Length of Float :  6.0
Length of String :  6.0

In [43]:
# Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?

num = int(input("Enter the Number"))

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter the Number 5

Odd Number

In [45]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.

floor_div = (7//3) == int(2.7)
print(floor_div)

True

In [46]:
# Check if type of '10' is equal to type of 10

var = type("10") == type(10)
print(var)

False

In [49]:
# Check if int('9.8') is equal to 10

var = int(10) == "9.8"
print(var)

False

In [6]:
""" Write a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?

```py
Enter hours: 40
Enter rate per hour: 28
Your weekly earning is 1120 """

var = int(input("Entre Hours"))
var1 = int(input("Enter rate per hour : "))
rate = var*var1
print("Your weekly earning is : ", rate)

Entre Hours 40
Enter rate per hour :  28

Your weekly earning is :  1120

In [13]:
""" Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds. """

years = int(input("Enter number of years you have lived: "))

average_days_per_year = 365.25
seconds_per_day = 60 * 60 * 24
lived = average_days_per_year * seconds_per_day
print(f"You have lived for approximately {lived} seconds.")

Enter number of years you have lived:  100

You have lived for approximately 31557600.0 seconds.

In [21]:
""" Write a Python script that displays the following table

```py
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125 """

num_rows = 5

for i in range(1, num_rows + 1):
  row_values = [1]

  for j in range(1, i):
    row_values.append(row_values[j-1] * i)

  print(*row_values)

1
1 2
1 3 9
1 4 16 64
1 5 25 125 625

# String

In [25]:
# Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

a = "Thirty "
b = "Days "
c = "of "
d = "Python"
e = a+b+c+d
e

'Thirty Days of Python'

In [28]:
# Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.

string1 = 'Coding'
string2 = 'For'
string3 = 'All'

result = string1 + ' ' + string2 + ' ' + string3

print(result)

Coding For All

In [29]:
# Declare a variable named company and assign it to an initial value "Coding For All".

company = "Coding For All"
company

'Coding For All'

In [30]:
# Print the variable company using _print()_.

company = "Coding For All"
print(company)

Coding For All

In [32]:
# Print the length of the company string using _len()_ method and _print()_.

company = "Coding For All"
com = len(company)
print(com)

14

In [35]:
# Change all the characters to uppercase letters using _upper()_ method.

com = company.upper()
com

'CODING FOR ALL'

In [36]:
# Change all the characters to lowercase letters using _lower()_ method.

com = company.lower()
com

'coding for all'

In [42]:
# Use capitalize(), title(), swapcase() methods to format the value of the string _Coding For All_.

var1 = company.capitalize()
var2 = company.title()
var3 = company.swapcase()

print(var1)
print(var2)
print(var3)

Coding for all
Coding For All
cODING fOR aLL

In [43]:
# Cut(slice) out the first word of _Coding For All_ string.

string = "Coding For All"

sliced_string = string[string.find(' ') + 1:]

print(sliced_string)

For All

In [44]:
# Check if _Coding For All_ string contains a word Coding using the method index, find or other methods.

string = "_Coding For All_"
word_to_find = "Coding"

if word_to_find in string:
  print(f"'{word_to_find}' is present in the string.")
else:
  print(f"'{word_to_find}' is not present in the string.")

'Coding' is present in the string.

In [47]:
# Replace the word coding in the string 'Coding For All' to Python.

string = "Coding For All"
r_string = string.replace("Coding","Python")

r_string

'Python For All'

In [49]:
# Change Python for Everyone to Python for All using the replace method or other methods.

string = "Python for Everyone"
r_string = string.replace("Python for Everyone","Python for All")

r_string

'Python for All'

In [52]:
# Split the string 'Coding For All' using space as the separator (split()) .

var = "Coding For All"
var1 = var.split()
var1

['Coding', 'For', 'All']

In [53]:
# "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.

var = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
var1 = var.split()
var1

['Facebook,', 'Google,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

In [56]:
# What is the character at index 0 in the string _Coding For All_.

var = "Coding For All"
var1 = var[0]
var1

'C'

In [58]:
# What is the last index of the string _Coding For All_.

var1 = var[-1]
var1

'l'

In [60]:
# What character is at index 10 in "Coding For All" string.

var1 = var[10]
var1

' '

In [61]:
# Create an acronym or an abbreviation for the name 'Python For Everyone'.

name = "Python For Everyone"

words = name.split()

acronym = ""
for word in words:
    acronym += word[0].upper()

print(acronym)

PFE

In [62]:
# Create an acronym or an abbreviation for the name 'Coding For All'.

name = "Coding For All"

words = name.split()

acronym = ""
for word in words:
    acronym += word[0].upper()

print(acronym)

CFA

In [2]:
# Use index to determine the position of the first occurrence of C in Coding For All.

var = "Coding For All"
C_index = var.find("C")

if C_index != -1:
  print(f"The first 'C' is at index {C_index}")
else:
  print("There is no 'C' in the text.")

The first 'C' is at index 0

In [3]:
# Use index to determine the position of the first occurrence of F in Coding For All.

var = "Coding For All"
f_index = var.find("F")

if f_index != -1:
  print(f"The first 'F' is at index {f_index}")
else:
  print("There is no 'F' in the text.")

The first 'F' is at index 7

In [6]:
# Use rfind to determine the position of the last occurrence of l in Coding For All People.

var = "Coding For All"
f_index = var.rfind("l")

if f_index != -1:
    print(f"The First 'L' is at index {f_index}")
else:
    print("There is No 'L' in the text")

The First 'L' is at index 13

In [7]:
# Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

sentence = "You cannot end a sentence with because because because is a conjunction"

word = "because"
index = sentence.find(word)

print(f"The first 'because' is at index {index}" if index != -1 else "The word 'because' is not found")

The first 'because' is at index 31

In [8]:
# Use rindex to find the position of the last occurrence of the word because in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

sentence = "You cannot end a sentence with because because because is a conjunction"

word = "because"
last_index = sentence.rindex(word)

print(f"The last 'because' is at index {last_index}")
print("The word 'because' is not found in the sentence.")

The last 'because' is at index 47
The word 'because' is not found in the sentence.

In [9]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

sentence = "You cannot end a sentence with because because because is a conjunction"
phrase = "because because because"

start_index = sentence.find(phrase)

sliced_text = sentence[start_index: start_index + len(phrase)] if start_index != -1 else None

print(sliced_text)

because because because

In [10]:
# Find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'sentence = "You cannot end a sentence with because because because is a conjunction"

word = "because"
index = sentence.find(word)

print(f"The first 'because' is at index {index}" if index != -1 else "No 'because' found")

The first 'because' is at index 31

In [11]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

sentence = "You cannot end a sentence with because because because is a conjunction"
phrase = "because because because"

start_index = sentence.find(phrase)
sliced_text = sentence[start_index: start_index + len(phrase)] if start_index != -1 else None

print(sliced_text)

because because because

In [12]:
# Does '\'Coding For All' start with a substring _Coding_?

text = "Coding For All"
substring = "Coding"

print(text[1:].startswith(substring))

False

In [13]:
# Does 'Coding For All' end with a substring _coding_?

text = "Coding For All"
substring = "coding"

print(text.endswith(substring))

False

In [14]:
# '&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;' &nbsp;, remove the left and right trailing spaces in the given string.

text = '&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;'

# Use strip() to remove leading and trailing whitespace characters
stripped_text = text.strip()

print(stripped_text)

&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;

In [15]:
"""Which one of the following variables return True when we use the method isidentifier():
    - 30DaysOfPython
    - thirty_days_of_python"""

variable1 = "30DaysOfPython"
variable2 = "thirty_days_of_python"

print(variable1.isidentifier())  # Output: True
print(variable2.isidentifier())  # Output: False

print("\nExplanation:")
print("Variable names can only contain alphanumeric characters (a-z, A-Z, 0-9) and underscores (_).")
print("variable1 (30DaysOfPython) only contains valid characters, so it returns True.")
print("variable2 (thirty_days_of_python) contains spaces, which are not allowed in variable names, so it returns False.")

False
True

Explanation:
Variable names can only contain alphanumeric characters (a-z, A-Z, 0-9) and underscores (_).
variable1 (30DaysOfPython) only contains valid characters, so it returns True.
variable2 (thirty_days_of_python) contains spaces, which are not allowed in variable names, so it returns False.

In [16]:
# The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.

python_libs = ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']


joined_string = '# '.join(python_libs)

print(joined_string)

Django# Flask# Bottle# Pyramid# Falcon

In [17]:
"""Use the new line escape sequence to separate the following sentences.
    ```py
    I am enjoying this challenge.
    I just wonder what is next."""

print("I am enjoying this challenge.\nI just wonder what is next.")

I am enjoying this challenge.
I just wonder what is next.

In [18]:
"""34. Use a tab escape sequence to write the following lines.
    ```py
    Name      Age     Country   City
    Asabeneh  250     Finland   Helsinki"""

print("Name\t\tAge\t\tCountry\t\tCity")
print("Asabeneh\t250\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

In [19]:
"""35. Use the string formatting method to display the following:
```sh
radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.
```"""
radius = 10
area = 3.14 * radius**2

# Use f-strings for formatted output
print(f"radius = {radius}")
print(f"area = {area:.2f}")  # Format area to two decimal places
print(f"The area of a circle with radius {radius} is {area:.2f} meters square.")

radius = 10
area = 314.00
The area of a circle with radius 10 is 314.00 meters square.

In [20]:
"""Make the following using string formatting methods:

```sh
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144
```"""

num1 = 8
num2 = 6

# Use f-strings for calculations and formatted output
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} / {num2} = {num1 / num2:.2f}")  # Format to two decimal places
print(f"{num1} % {num2} = {num1 % num2}")
print(f"{num1} // {num2} = {num1 // num2}")
print(f"{num1} ** {num2} = {num1 ** num2}")

8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144

# List

In [24]:
# Declare an empty list

lst = []
lst = type(lst)
lst

list

In [25]:
# Declare a list with more than 5 items

lst = ["Banana", "Apple", "Pineapple", "Jackfruit", "Strawberry"]
lst

['Banana', 'Apple', 'Pineapple', 'Jackfruit', 'Strawberry']

In [26]:
# Find the length of your list

len(lst)

5

In [27]:
# Get the first item, the middle item and the last item of the list

list = ["Banana", "Apple", "Pineapple", "Jackfruit", "Strawberry"]

first_item = list[0]
last_item = list[-1]

middle_index = len(list) // 2
middle_item = list[middle_index]

print(f"First item: {first_item}")
print(f"Middle item: {middle_item}")
print(f"Last item: {last_item}")

First item: Banana
Middle item: Pineapple
Last item: Strawberry

In [29]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

lst = ["Parag", 28, 5.11, "not_married", "Wardha"]
lst

['Parag', 28, 5.11, 'not_married', 'Wardha']

In [30]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_company

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [31]:
# Print the list using _print()_

print(it_company)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [32]:
len_list = len(it_company)
print(len_list)

7

In [35]:
# Print the first, middle and last company

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

first_name = it_company[0]
last_name = it_company[-1]

middle_index = len(it_company) // 2
middle_name = it_company[middle_index]

print(f"First item: {first_name}")
print(f"Middle item: {middle_name}")
print(f"Last item: {last_name}")

First item: Facebook
Middle item: Apple
Last item: Amazon

In [49]:
# Print the list after modifying one of the companies

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_company.remove("IBM")

In [50]:
it_company

['Facebook', 'Google', 'Microsoft', 'Apple', 'Oracle', 'Amazon']

In [52]:
# Add an IT company to it_companies

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_company.append("IT Company")
it_company

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'IT Company']

In [53]:
# Insert an IT company in the middle of the companies list

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon", "IT Company"]

middle_index = len(it_company) // 2
it_company.insert(middle_index, it_company)

print(it_company)

['Facebook', 'Google', 'Microsoft', 'Apple', [...], 'IBM', 'Oracle', 'Amazon', 'IT Company']

In [63]:
# Change one of the it_companies names to uppercase (IBM excluded!)

it_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon", "IT Company"]

uppercase_list = [item.upper() for item in it_company]

print(uppercase_list)

['FACEBOOK', 'GOOGLE', 'MICROSOFT', 'APPLE', 'IBM', 'ORACLE', 'AMAZON', 'IT COMPANY']

In [64]:
# Join the it_companies with a string '#;&nbsp; '

it_companies = ["Infosys", "TCS", "Wipro", "Accenture"]
joined_string = '#;&nbsp; '.join(it_companies)

print(joined_string)

Infosys#;&nbsp; TCS#;&nbsp; Wipro#;&nbsp; Accenture

In [69]:
# Check if a certain company exists in the it_companies list.

it_companies = ["Infosys", "TCS", "Wipro", "Accenture"]
company_to_find = "Wipro"

if company_to_find in it_companies:
    print(f"{company_to_find} exists in the list.")
else:
    print(f"{company_to_find} does not exist in the list.")

Wipro exists in the list.

In [70]:
# Sort the list using sort() method

my_list = [3, 1, 4, 5, 2]
my_list.sort()

print(my_list)

[1, 2, 3, 4, 5]

In [71]:
# Reverse the list in descending order using reverse() method

my_list = [3, 1, 4, 5, 2]
my_list.reverse()

print(my_list)

[2, 5, 4, 1, 3]

In [74]:
# Slice out the first 3 companies from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

first_three_companies = it_companies[:3]

print(first_three_companies)

['Infosys', 'TCS', 'Wipro']

In [76]:
# Slice out the last 3 companies from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

first_three_companies = it_companies[-3:]

print(first_three_companies)

['Wipro', 'Accenture', 'Cognizant']

In [78]:
# Slice out the middle IT company or companies from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

num_companies = len(it_companies)

middle_index = num_companies // 2

middle_companies = (
    it_companies[middle_index] if num_companies % 2 == 1 else it_companies[middle_index:middle_index + 1]
)

print(middle_companies)

Wipro

In [83]:
# 21. Remove the first IT company from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

companies_without_first = it_companies[1:]

print(companies_without_first)

['TCS', 'Wipro', 'Accenture', 'Cognizant']

In [84]:
# Remove the middle IT company or companies from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

num_companies = len(it_companies)
middle_index = num_companies // 2

del it_companies[middle_index:middle_index + (num_companies % 2)]

print(it_companies)

['Infosys', 'TCS', 'Accenture', 'Cognizant']

In [85]:
# Remove the last IT company from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

last_company_removed = it_companies.pop(-1)

print(it_companies)
print(last_company_removed)

['Infosys', 'TCS', 'Wipro', 'Accenture']
Cognizant

In [86]:
print(it_companies)

['Infosys', 'TCS', 'Wipro', 'Accenture']

In [87]:
# 24. Remove all IT companies from the list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]

it_companies.clear()

print(it_companies)

[]

In [1]:
# 25. Destroy the IT companies list

it_companies = ["Infosys", "TCS", "Wipro", "Accenture", "Cognizant"]
del it_companies

it_companies

NameError: name 'it_companies' is not defined

In [90]:
""" Join the following lists:

    ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB'] """

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [91]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end

full_stack_copy = full_stack.copy()

insert_index = full_stack_copy.index('Redux') + 1
full_stack_copy.insert(insert_index, 'Python')
full_stack_copy.insert(insert_index + 1, 'SQL')

print("Original full_stack:", full_stack) 
print("Modified full_stack_copy:", full_stack_copy)

Original full_stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Modified full_stack_copy: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [92]:
""" The following is a list of 10 students ages:

```sh
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```

- Sort the list and find the min and max age """

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

sorted_ages = sorted(ages)

min_age = min(ages)
max_age = max(ages)

print("Sorted Ages:", sorted_ages)  
print("Minimum Age:", min_age)     
print("Maximum Age:", max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [94]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

min_age = min(ages)
max_age = max(ages)

ages.append(min_age)
ages.append(max_age)

print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

In [96]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

total_age = sum(ages)
average_age = total_age / len(ages)

print("The average age is:", average_age)

The average age is: 22.8

In [97]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

max_age = max(ages)
min_age = min(ages)

range_of_ages = max_age - min_age

print("Range of ages:", range_of_ages)

Range of ages: 7

In [98]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

average_age = sum(ages) / len(ages)
min_age = min(ages)
max_age = max(ages)

difference_min_avg = abs(min_age - average_age)
difference_max_avg = abs(max_age - average_age)

print(f"The difference between the minimum age and the average age is: {difference_min_avg}")
print(f"The difference between the maximum age and the average age is: {difference_max_avg}")

larger_difference = difference_min_avg if difference_min_avg > difference_max_avg else difference_max_avg

print(f"The larger difference is: {larger_difference}")

The difference between the minimum age and the average age is: 3.8000000000000007
The difference between the maximum age and the average age is: 3.1999999999999993
The larger difference is: 3.8000000000000007

# Tuple

In [100]:
# Create an empty tuple

tup = ()
tpl = type(tup)
tpl

tuple

In [102]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sib = ("Rohan", "Sohan", "Mohini")
sib

('Rohan', 'Sohan', 'Mohini')

In [103]:
# Join brothers and sisters tuples and assign it to siblings

brothers = ("John", "Peter")
sisters = ("Mary", "Jane")

siblings = brothers + sisters

print(siblings)

('John', 'Peter', 'Mary', 'Jane')

In [106]:
# How many siblings do you have?

siblings.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [107]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

brothers = ("John", "Peter")
sisters = ("Mary", "Jane")

siblings = brothers + sisters

parents = ("David", "Sarah")  # Replace with your parents' names
family_members = parents + siblings

print(f"Your family members are: {family_members}")

Your family members are: ('David', 'Sarah', 'John', 'Peter', 'Mary', 'Jane')

In [109]:
# 1. Unpack siblings and parents from family_members

brothers = ("John", "Peter")
sisters = ("Mary", "Jane")

siblings = brothers + sisters

parents = ("David", "Sarah")  # Replace with your parents' names
family_members = parents + siblings

siblings, *parents = family_members

print(f"Siblings: {siblings}")
print(f"Parents: {parents}")

Siblings: David
Parents: ['Sarah', 'John', 'Peter', 'Mary', 'Jane']

In [110]:
# 1. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ("Apple", "Banana", "Orange")
vegetables = ("Carrot", "Potato", "Tomato")
animal_products = ("Milk", "Eggs", "Chicken")

food_stuff_tp = fruits + vegetables + animal_products

print(f"Food items: {food_stuff_tp}")

Food items: ('Apple', 'Banana', 'Orange', 'Carrot', 'Potato', 'Tomato', 'Milk', 'Eggs', 'Chicken')

In [113]:
# 1. Change the about food_stuff_tp tuple to a food_stuff_lt list

fruits = ("Apple", "Banana", "Orange")
vegetables = ("Carrot", "Potato", "Tomato")
animal_products = ("Milk", "Eggs", "Chicken")

food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)

print(f"Food items (list): {food_stuff_lt}")

TypeError: 'list' object is not callable

In [114]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)

num_items = len(food_stuff_tp)
middle_index = num_items // 2

middle_item_tp = food_stuff_tp[middle_index:middle_index + (num_items % 2)]  # Tuple slicing
middle_item_lt = food_stuff_lt[middle_index:middle_index + (num_items % 2)]  # List slicing

print(f"Middle item(s) from tuple (using integer division): {middle_item_tp}")
print(f"Middle item(s) from list (using integer division): {middle_item_lt}")

TypeError: 'list' object is not callable

In [115]:
# Slice out the first three items and the last three items from food_staff_lt list

fruits = ("Apple", "Banana", "Orange")
vegetables = ("Carrot", "Potato", "Tomato")
animal_products = ("Milk", "Eggs", "Chicken")

food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)
first_three = food_stuff_lt[:3]

list_length = len(food_stuff_lt)
last_three_start_index = list_length - 3
last_three = food_stuff_lt[last_three_start_index:]

print(f"First three items: {first_three}")
print(f"Last three items: {last_three}")

TypeError: 'list' object is not callable

In [116]:
# Delete the food_staff_tp tuple completely

fruits = ("Apple", "Banana", "Orange")
vegetables = ("Carrot", "Potato", "Tomato")
animal_products = ("Milk", "Eggs", "Chicken")

food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)
del food_stuff_tp


print(f"Food items (list): {food_stuff_lt}")

TypeError: 'list' object is not callable

Set and Operations

In [117]:
# 1. Find the length of the set it_companies

it_companies = {"Infosys", "TCS", "Wipro", "Accenture", "Cognizant"}

num_companies = len(it_companies)

print(f"Number of IT companies: {num_companies}")

Number of IT companies: 5

In [118]:
# Add 'Twitter' to it_companies

it_companies = {"Infosys", "TCS", "Wipro", "Accenture", "Cognizant"}
it_companies.add("Twitter")

print(it_companies)

{'Wipro', 'Twitter', 'TCS', 'Infosys', 'Cognizant', 'Accenture'}

In [119]:
# 3. Insert multiple IT companies at once to the set it_companies

it_companies = {"Infosys", "TCS", "Wipro", "Accenture", "Cognizant"}
new_companies = ["Twitter", "Meta", "Amazon"]

it_companies.update(new_companies)

print(it_companies)

{'Wipro', 'Twitter', 'Amazon', 'TCS', 'Infosys', 'Cognizant', 'Meta', 'Accenture'}

In [120]:
# 4. Remove one of the companies from the set it_companies

it_companies = {"Infosys", "TCS", "Wipro", "Accenture", "Cognizant"}

company_to_remove = "TCS"
it_companies.remove(company_to_remove)

print(it_companies)

{'Wipro', 'Infosys', 'Cognizant', 'Accenture'}

In [123]:
# 5. What is the difference between remove and discard

my_set = {"apple", "banana", "cherry", "grape"}
my_set.remove("apple")  # This will successfully remove "apple"
my_set.remove("grape")  # This will raise a KeyError because "grape" is not in the set

In [124]:
my_set

{'banana', 'cherry'}

In [125]:
my_set = {"apple", "banana", "cherry", "grape"}
my_set.discard("apple")  
my_set.discard("grape")

In [126]:
my_set

{'banana', 'cherry'}

In [128]:
# 1. Join A and B
A = {"apple", "banana", "cherry"}
B = {"mango", "orange", "cherry"} 

C = A | B

print(C)

{'banana', 'orange', 'apple', 'cherry', 'mango'}

In [130]:
# 1. Find A intersection B

A = {"apple", "banana", "cherry"}
B = {"mango", "orange", "cherry"}

intersection = A & B

print(f"Intersection of sets A and B: {intersection}")

Intersection of sets A and B: {'cherry'}

In [132]:
# 1. Is A subset of B

A = {"apple", "banana"}
B = {"apple", "banana", "cherry"}

is_subset = all(element in B for element in A)

print(f"Is set A a subset of set B? {is_subset}")

Is set A a subset of set B? True

In [133]:
# 1. Are A and B disjoint sets

A = {"apple", "banana"}
B = {"mango", "orange", "cherry"}

are_disjoint = not (A & B)

print(f"Are sets A and B disjoint? {are_disjoint}")

Are sets A and B disjoint? True

In [135]:
# 1. Join A with B and B with A

A = {"apple", "banana", "cherry"}
B = {"mango", "orange", "cherry"}

combined_set_1 = A | B
combined_set_2 = B | A

print(f"Combined set (A | B): {combined_set_1}")
print(f"Combined set (B | A): {combined_set_2}")

Combined set (A | B): {'banana', 'orange', 'apple', 'cherry', 'mango'}
Combined set (B | A): {'banana', 'orange', 'apple', 'cherry', 'mango'}

In [137]:
# 1. What is the symmetric difference between A and B

A = {"apple", "banana", "cherry"}
B = {"mango", "orange", "cherry"}

symmetric_difference = A ^ B

print(f"Symmetric difference of A and B: {symmetric_difference}")

Symmetric difference of A and B: {'banana', 'apple', 'mango', 'orange'}

In [138]:
# 1. Delete the sets completely

A = {"apple", "banana", "cherry"}
B = {"mango", "orange", "cherry"}

del A
del B

In [140]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

ages = [25, 30, 22, 25, 30, 28]

unique_ages = set(ages)
list_length = len(ages)

set_length = len(unique_ages)
is_list_bigger = list_length > set_length

print(f"Is the list bigger? {is_list_bigger}")

Is the list bigger? True

In [141]:
# 2. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people."

words = sentence.split()

unique_words = set(words)
number_of_unique_words = len(unique_words)

print(f"There are {number_of_unique_words} unique words in the sentence.")

There are 10 unique words in the sentence.

Dictionary

In [142]:
# Create  an empty dictionary called dog

dog = {}
print(dog)

{}

In [143]:
type(dog)

dict

In [144]:
# Add name, color, breed, legs, age to the dog dictionary

dog = {}
dog["name"] = "Spot"
dog["color"] = "brown"
dog["breed"] = "Labrador Retriever"
dog["legs"] = 4
dog["age"] = 5

print(dog)

{'name': 'Spot', 'color': 'brown', 'breed': 'Labrador Retriever', 'legs': 4, 'age': 5}

In [145]:
# Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

student = {
  "first_name": "Parag",
  "last_name": "Dorle",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "India",
  "city": "Wardha",
}
print(student)

{'first_name': 'Parag', 'last_name': 'Dorle', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Programming', 'Communication', 'Problem-solving'], 'country': 'India', 'city': 'Wardha'}

In [146]:
# Get the length of the student dictionary

len(student)

8

In [147]:
# Get the value of skills and check the data type, it should be a list

student = {
  "first_name": "John",
  "last_name": "Doe",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "USA",
  "city": "New York",
  "address": "123 Main Street"
}

skills = student["skills"]
print(type(skills))

<class 'list'>

In [148]:
# Modify the skills values by adding one or two skills

student = {
  "first_name": "John",
  "last_name": "Doe",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "USA",
  "city": "New York",
  "address": "123 Main Street"
}

# Approach 1: Extend the existing list
student["skills"].extend(["Teamwork", "Adaptability"])

# Approach 2: Update the entire skills key with a new list
student["skills"] = student["skills"] + ["Teamwork", "Adaptability"]

print(student)

{'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Programming', 'Communication', 'Problem-solving', 'Teamwork', 'Adaptability', 'Teamwork', 'Adaptability'], 'country': 'USA', 'city': 'New York', 'address': '123 Main Street'}

In [149]:
# Get the dictionary keys as a list

my_dict = {"name": "Paarag", "age": 25, "city": "India"}
keys_list = list(my_dict.keys())
print(keys_list)  # Output: ['name', 'age', 'city']

TypeError: 'list' object is not callable

In [152]:
# Get the dictionary values as a list

my_dict = {"name": "Parag", "age": 25, "city": "India"}
values_list = list(my_dict.values())
print(values_list)  # Output: ['Alice', 30, 'New York']

TypeError: 'list' object is not callable

In [153]:
# Change the dictionary to a list of tuples using _items()_ method

my_dict = {"name": "Parag", "age": 25, "city": "Wardha"}

# Using dict.items() method
list_of_tuples = list(my_dict.items())
print(list_of_tuples)  # Output: [('name', 'Alice'), ('age', 30), ('city', 'New York')]

TypeError: 'list' object is not callable

In [154]:
# Delete one of the items in the dictionary

my_dict = {"name": "Parag", "age": 25, "city": "Wardha"}

# Delete the item with key 'age'
del my_dict["age"]
print(my_dict)  # Output: {'name': 'Alice', 'city': 'New York'}

{'name': 'Parag', 'city': 'Wardha'}

In [155]:
# Delete one of the dictionaries

list_of_dicts = [{"name": "Parag", "age": 25}, {"name": "Smith", "age": 28}, {"name": "Charlie", "age": 26}]

# Delete the second dictionary (index 1)
del list_of_dicts[1]

print(list_of_dicts)  # Output: [{'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]

[{'name': 'Parag', 'age': 25}, {'name': 'Charlie', 'age': 26}]

# Condition

In [1]:
""" 1.  Get user input using input(Enter your age: ). If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years. Output:
    ```sh
    Enter your age: 30
    You are old enough to learn to drive.
    Output:
    Enter your age: 15
    You need 3 more years to learn to drive. """

age = int(input("Enter your Age"))

if age >= 18:
    print("You are old enough to learn to drive")
else:
    waiting = 18 - age
    print(f"You are not old enough to drive yet. You need to wait {waiting} year(s).")

Enter your Age 17

You are not old enough to drive yet. You need to wait 1 year(s).

In [21]:
""" 2.  Compare the values of my_age and your_age using if  else. Who is older (me or you)? Use input(Enter your age: ) to get the age as input. You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger differences, and a custom text if my_age = your_age. Output:
    ```sh
    Enter your age: 30
    You are 5 years older than me. """

your_age = int(input("Enter your age: "))
my_age = int(input("Enter my age: "))

if your_age > my_age:
    print(f"You are {your_age - my_age} years older than me.")
elif your_age < my_age:
    print(f"I am {my_age - your_age} years older than you.")
else:
  print("We are the same age.")

Enter your age:  31
Enter my age:  21

You are 10 years older than me.

In [23]:
""" 3.  Get two numbers from the user using input prompt. If a is greater than b return a is greater than b, if a is less b return a is smaller than b, else a is equal to b. Output:

```sh
Enter number one: 4
Enter number two: 3
4 is greater than 3 """

num1 = int(input("Enter number one: "))
num2 = int(input("Enter number two: "))

if num1 > num2:
  print(f"{num1} is greater than {num2}")
elif num1 < num2:
  print(f"{num1} is smaller than {num2}")
else:
  print(f"{num1} is equal to {num2}")

Enter number one:  2
Enter number two:  4

2 is smaller than 4

In [25]:
""" Write a code which gives grade to students according to theirs scores:
   
        80-100, A
        70-89, B
        60-69, C
        50-59, D
        0-49, F """

score = int(input("Enter student's score (0-100): "))

score = int(input("Enter the Student's Score (0-100)"))
if score >= 80:
    print("Your Grade is : A")
elif score >= 70:
    print("Your Grade is : B")
elif score >= 60:
    print("Your Grade is : C")
elif score >= 50:
    print("Your Grade is : D")
elif score >= 35:
    print("Your Grade is : F")
else:
    print("Thank you")

Enter student's score (0-100):  87

Score: 87, Grade: A

In [31]:
""" Check if the season is Autumn, Winter, Spring or Summer. If the user input is:
    September, October or November, the season is Autumn.
    December, January or February, the season is Winter.
    March, April or May, the season is Spring
    June, July or August, the season is Summer """

month = input("Enter the month: ").lower()  # Convert input to lowercase

if month in ("september", "october", "november"):
  season = "Autumn"
elif month in ("december", "january", "february"):
  season = "Winter"
elif month in ("march", "april", "may"):
  season = "Spring"
elif month in ("june", "july", "august"):
  season = "Summer"
else:
  season = "Invalid month"

if season != "Invalid month":
  print(f"The season for {month} is {season}.")
else:
  print("Please enter a valid month name.")

Enter the month:  august

The season for august is Summer.

In [33]:
""" 2.  The following list contains some fruits:
    
    fruits = ['banana', 'orange', 'mango', 'lemon']
    ```
    If a fruit doesn't exist in the list add the fruit to the list and print the modified list. 
    If the fruit exists print('That fruit already exist in the list') """

fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = input("Enter a fruit name: ").lower()  # Convert input to lowercase

if new_fruit not in fruits:
  fruits.append(new_fruit)
  print(f"The modified fruit list is: {fruits}")
else:
  print(f"That fruit ({new_fruit}) already exists in the list.")

Enter a fruit name:  chiku

The modified fruit list is: ['banana', 'orange', 'mango', 'lemon', 'chiku']

In [34]:
""" Here we have a person dictionary. Feel free to modify it!
   
person={
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
    }

     * Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
     * Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
     * If a person skills has only JavaScript and React, print('He is a front end developer'), if the person skills has Node, Python, MongoDB, print('He is a backend developer'), if the person skills has React, Node and MongoDB, Print('He is a fullstack developer'), else print('unknown title') - for more accurate results more conditions can be nested!
     * If the person is married and if he lives in Finland, print the information in the following format: """

person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_married': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

# Check if the person has skills and print the middle skill
if "skills" in person:
  num_skills = len(person["skills"])
  if num_skills > 1:
    middle_index = int((num_skills - 1) / 2)
    print(f"Middle skill: {person['skills'][middle_index]}")

# Check if the person has the Python skill
if "skills" in person and "Python" in person["skills"]:
  print("The person has the Python skill.")

# Check developer type based on skills
skills = person.get("skills", [])  # Get skills list or empty list if not present
if skills == ["JavaScript", "React"]:
  print("He is a front-end developer")
elif "Node" in skills and ("Python" in skills or "MongoDB" in skills):
  print("He is a full-stack developer")
elif "Node" in skills:
  print("He is a back-end developer")
else:
  print("Unknown title")

# Print married person's info if in Finland
if person["is_married"] and person["country"] == "Finland":
  print(f"\n{person['first_name']} {person['last_name']} is married and lives in Finland at {person['address']['street']} with zipcode {person['address']['zipcode']}.")

Middle skill: Node
The person has the Python skill.
He is a full-stack developer

Asabeneh Yetayeh is married and lives in Finland at Space street with zipcode 02210.

# Loop

In [ ]:
# Write a program using while loop that prints square and cube of numbers between 1 to 10

num = 1
while num <= 10:
  print("Number:", num)
  print("Square:", num * num)
  print("Cube:", num * num * num)
  num = num+1

In [ ]:
# Write a program using while loop that prints square and cube of numbers between 1 to 10

num = 1
while num <= 10:
  print("Number:", num)
  print("Square:", num * num)
  print("Cube:", num * num * num)
  num = num+1

In [37]:
# Write a program that uses for loop to print numbers 100, 96, 92, 88 ..., 4. 

for num in range(100,3,-4):
    print(num)

100
96
92
88
84
80
76
72
68
64
60
56
52
48
44
40
36
32
28
24
20
16
12
8
4

In [38]:
""" Use a for loop to print a triangle like the one below. Allow the user to specify how high the triangle should be. <br>
@<br>
@@<br>
@@@<br>
@@@@<br>"""

rows = int(input("Enter the height of the triangle: "))

for i in range(1, rows + 1):
  for j in range(rows - i):
    print(" ", end="")

  for j in range(i):
    print("@", end="")

  print()

Enter the height of the triangle:  12

           @
          @@
         @@@
        @@@@
       @@@@@
      @@@@@@
     @@@@@@@
    @@@@@@@@
   @@@@@@@@@
  @@@@@@@@@@
 @@@@@@@@@@@
@@@@@@@@@@@@

In [40]:
""" Write a program that asks the user to enter the password.
If the user enters the right password, the program should tell them they are logged in to the system. 
Otherwise, the program should ask them to reenter the password. 
The user should get only five tries to enter the password, after which point the program should tell them that they are kicked off of the system."""

password = "Parag"
count = 5

while count > 0:
    user_password = input("Enter your password: ")
    if user_password == password:
        print("You are logged in to the system.")
        break
    else:
        print("You are kicked off of the system.")

Enter your password:  parag

You are kicked off of the system.

Enter your password:  Parag

You are logged in to the system.

# Function

In [ ]:
# Declare a function _add_two_numbers_. It takes two parameters and it returns a sum.

def _add_two_numbers_(a, b):
  
  return a + b

result = _add_two_numbers_(5, 3)
print(result)

8

In [43]:
# Area of a circle is calculated as follows: area =  x r x r. Write a function that calculates _area_of_circle_.

def _area_of_circle_(radius):

    pi = 3.14
    return pi * radius * radius

circle_area = _area_of_circle_(5)
print(circle_area)

78.5

In [44]:
# Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

def add_all_nums(*args):
 if not all(isinstance(arg, (int, float)) for arg in args):
    return "Arguments must all be numbers."

    return sum(args)

result = add_all_nums(1, 2.5, 3)
print(result)

result = add_all_nums(1, "hello", 3)
print(result)

None
Arguments must all be numbers.

In [45]:
# Temperature in C can be converted to F using this formula: F = (C x 9/5) + 32. Write a function which converts C to F, _convert_celsius_to-fahrenheit_.

def _convert_celsius_to_fahrenheit_(celsius):

  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

celsius_value = 47
fahrenheit_value = _convert_celsius_to_fahrenheit_(celsius_value)
print(f"{celsius_value}C is equivalent to {fahrenheit_value:.2f}F")

47C is equivalent to 116.60F

In [46]:
# 5. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

def check_season(month):
    if month in ['September', 'October', 'November']:
        return 'Autumn'
    elif month in ['December', 'January', 'February']:
        return 'Winter'
    elif month in ['March', 'April', 'May']:
        return 'Spring'
    elif month in ['June', 'July', 'August']:
        return 'Summer'
    else:
        return 'Undefined - invalid month'
print(check_season('October'))  # Output: Autumn
print(check_season('January'))  # Output: Winter
print(check_season('May'))  # Output: Spring
print(check_season('August'))  # Output: Summer
print(check_season('Invalid'))  # Output: Undefined - invalid month

Autumn
Winter
Spring
Summer
Undefined - invalid month

In [47]:
# Write a function called calculate_slope which return the slope of a linear equation

def calculate_slope(x1, y1, x2, y2):

    if x1 == x2:
        return 'Undefined - vertical line'
    else:
        return (y2 - y1) / (x2 - x1)
print(calculate_slope(1, 2, 3, 4))  # Output: 1.0
print(calculate_slope(2, 3, 2, 4))  # Output: Undefined - vertical line
print(calculate_slope(-1, -2, 1, 2))  # Output: 2.0

1.0
Undefined - vertical line
2.0

In [48]:
# Quadratic equation is calculated as follows: ax + bx + c = 0. Write a function which calculates solution set of a quadratic equation, _solve_quadratic_eqn_.

def _solve_quadratic_eqn(a, b, c):
 
  discriminant = b**2 - 4*a*c
  if discriminant >= 0:
    root1 = (-b + discriminant**0.5) / (2*a)
    root2 = (-b - discriminant**0.5) / (2*a)
    return root1, root2
  else:
    return ()

a = 1
b = 5
c = 6
roots = _solve_quadratic_eqn(a, b, c)
print(f"The roots of the equation {a}x^2 + {b}x + {c} = 0 are: {roots}")

The roots of the equation 1x^2 + 5x + 6 = 0 are: (-2.0, -3.0)

In [49]:
# Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

def print_list(my_list):

  for element in my_list:
    print(element)

my_list = ["apple", "banana", 10, 3.14]
print_list(my_list)

apple
banana
10
3.14

In [50]:
# Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

"""py
print(reverse_list([1, 2, 3, 4, 5]))
# [5, 4, 3, 2, 1]
print(reverse_list1(["A", "B", "C"]))
# ["C", "B", "A"] """

def reverse_list(my_list):
 
  reversed_list = []
  for i in range(len(my_list) - 1, -1, -1):
    reversed_list.append(my_list[i])
  return reversed_list

print(reverse_list([1, 2, 3, 4, 5]))  # Output: [5, 4, 3, 2, 1]
print(reverse_list(["A", "B", "C"]))  # Output: ["C", "B", "A"]

[5, 4, 3, 2, 1]
['C', 'B', 'A']

In [51]:
# Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items

def capitalize_list_items(my_list):

  capitalized_list = []
  for item in my_list:
    capitalized_list.append(item.capitalize())
  return capitalized_list

food_staff = ['potato', 'tomato', 'mango', 'milk']
capitalized_food_staff = capitalize_list_items(food_staff)
print(capitalized_food_staff)  # Output: ['Potato', 'Tomato', 'Mango', 'Milk']

['Potato', 'Tomato', 'Mango', 'Milk']

In [52]:
""" Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(add_item(food_staff, 'Meat'))     # ['Potato', 'Tomato', 'Mango', 'Milk','Meat'];
numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))      [2, 3, 7, 9, 5] """

def add_item(my_list, new_item):
 
  new_list = my_list.copy()  # Create a copy to avoid modifying the original list
  new_list.append(new_item)
  return new_list

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(add_item(food_staff, 'Meat'))  # Output: ['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']
numbers = [2, 3, 7, 9]
print(add_item(numbers, 5))  # Output: [2, 3, 7, 9, 5]

['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']
[2, 3, 7, 9, 5]

In [55]:
""" Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];
numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9] """

def remove_item(lst, item):
    return [i for i in lst if i != item]

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];

numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9]

['Potato', 'Tomato', 'Milk']
[2, 7, 9]

In [57]:
""" Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

```py
print(sum_of_numbers(5))  # 15
print(sum_all_numbers(10)) # 55
print(sum_all_numbers(100)) # 5050 """

def sum_of_numbers(n):
    return sum(range(n+1))

print(sum_of_numbers(5))  
print(sum_of_numbers(10))
print(sum_of_numbers(100))

15
55
5050

In [1]:
""" Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range. """

def sum_of_odds(n):
    return sum(range(1, n+1, 2))

print(sum_of_odds(5))  
print(sum_of_odds(10)) 
print(sum_of_odds(100))

9
25
2500

In [4]:
# Declare a function named sum_of_even. It takes a number parameter and it adds all the even numbers in that - range.

def sum_of_even(number):

  sum_of_even_numbers = 0
  for num in range(number + 1):
    if num % 2 == 0:
      sum_of_even_numbers += num
  return sum_of_even_numbers

print(sum_of_even(10))

30

In [14]:
""" Declare a function named evens_and_odds . It takes a positive integer as parameter and it counts number of evens and odds in the number.

```py
    print(evens_and_odds(100))
    # The number of odds are 50.
    # The number of evens are 51. """

def evens_and_odds(n):
    evens = 0
    odds = 0
    for digit in str(n):
        if int(digit) % 2 == 0:
            evens += 1
        else:
            odds += 1
    return evens, odds

print(evens_and_odds(100))

(2, 1)

In [17]:
# 1. Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(6))

720

In [19]:
# 1. Call your function _is_empty_, it takes a parameter and it checks if it is empty or not

def _is_empty_(param):
    if isinstance(param, (list, tuple, set, dict)):
        return len(param) == 0
    elif isinstance(param, str):
        return len(param.strip()) == 0
    else:
        return param is None or param == ''

print(_is_empty_([]))
print(_is_empty_(('a', 'b'))) 
print(_is_empty_({1, 2, 3})) 
print(_is_empty_({})) 
print(_is_empty_('')) 
print(_is_empty_('hello'))
print(_is_empty_(None))
print(_is_empty_(0))

True
False
False
True
True
False
True
False

In [20]:
# 1. Write different functions which take lists. They should calculate_mean, calculate_median, calculate_mode, calculate_range, calculate_variance, calculate_std (standard deviation).

def calculate_mean(numbers):
    if not isinstance(numbers, list):
        raise ValueError("Input should be a list of numbers.")
    if not all(isinstance(num, (int, float)) for num in numbers):
        raise ValueError("All elements in the list should be numbers.")
    return sum(numbers) / len(numbers)

print(calculate_mean([1, 2, 3, 4, 5]))

3.0

In [22]:
# Write a function called is_prime, which checks if a number is prime.

def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

print(is_prime(2)) 
print(is_prime(4))

True
False

In [28]:
# Write a functions which checks if all items are unique in the list.

def all_unique(lst):
    return len(lst) == len(set(lst))

print(all_unique([1, 2, 3, 4, 5]))  
print(all_unique([1, 2, 3, 3, 5]))  
print(all_unique(["apple", "banana", "cherry"])) 
print(all_unique(["apple", "banana", "apple"]))

True
False
True
False

In [29]:
# Write a function which checks if all the items of the list are of the same data type.

def all_same_type(lst):
    return all(type(x) == type(lst[0]) for x in lst)

print(all_same_type([1, 2, 3, 4, 5]))  
print(all_same_type([1, 2, 3, "4", 5]))  
print(all_same_type(["apple", "banana", "cherry"]))  
print(all_same_type([True, False, 1, 2]))

True
False
True
False

In [31]:
# Write a function which check if provided variable is a valid python variable

def is_valid_variable_name(name):
  
  if not name:
    return False
  if keyword.iskeyword(name):
    return False
  if not name[0].isidentifier():
    return False
  for char in name[1:]:
    if not char.isalnum() and char != '_':
      return False
  return True

variable_name = "my_variable"
if is_valid_variable_name(variable_name):
  print(f"{variable_name} is a valid variable name")
else:
  print(f"{variable_name} is not a valid variable name")

my_variable is a valid variable name